USE [master]
GO
/****** Object:  Database [BMPTec]    Script Date: 01/12/2025 08:54:26 ******/
CREATE DATABASE [BMPTec]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BMPTec_Data', FILENAME = N'C:\SQLData\BMPTec_Data.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10240KB )
 LOG ON 
( NAME = N'BMPTec_Log', FILENAME = N'C:\SQLData\BMPTec_Log.ldf' , SIZE = 51200KB , MAXSIZE = 512000KB , FILEGROWTH = 5120KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BMPTec].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BMPTec]
GO
/****** Object:  Table [dbo].[Contas]    Script Date: 01/12/2025 08:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contas](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[NumeroConta] [nvarchar](20) NOT NULL,
	[Agencia] [int] NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
	[TipoConta] [nvarchar](50) NOT NULL,
	[DataAbertura] [datetime2](7) NOT NULL,
	[DataEncerramento] [datetime2](7) NULL,
	[Ativa] [bit] NOT NULL,
	[LimiteChequeEspecial] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Contas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extratos]    Script Date: 01/12/2025 08:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extratos](
	[Id] [uniqueidentifier] NOT NULL,
	[ContaId] [uniqueidentifier] NOT NULL,
	[TipoOperacao] [nvarchar](50) NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[SaldoAnterior] [decimal](18, 2) NOT NULL,
	[SaldoAtual] [decimal](18, 2) NOT NULL,
	[DataOperacao] [datetime2](7) NOT NULL,
	[Descricao] [nvarchar](200) NULL,
	[TransferenciaId] [uniqueidentifier] NULL,
	[NumeroDocumento] [nvarchar](50) NULL,
 CONSTRAINT [PK_Extratos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feriados]    Script Date: 01/12/2025 08:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feriados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[TipoFeriado] [nvarchar](50) NOT NULL,
	[Recorrente] [bit] NOT NULL,
 CONSTRAINT [PK_Feriados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transferencias]    Script Date: 01/12/2025 08:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transferencias](
	[Id] [uniqueidentifier] NOT NULL,
	[ContaOrigemId] [uniqueidentifier] NOT NULL,
	[ContaDestinoId] [uniqueidentifier] NOT NULL,
	[Valor] [decimal](18, 2) NOT NULL,
	[Descricao] [nvarchar](200) NULL,
	[DataTransferencia] [datetime2](7) NOT NULL,
	[DataProcessamento] [datetime2](7) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[MotivoRejeicao] [nvarchar](500) NULL,
	[TipoTransferencia] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Transferencias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 01/12/2025 08:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CPF] [nvarchar](11) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[DataNascimento] [date] NULL,
	[DataCriacao] [datetime2](7) NOT NULL,
	[DataAtualizacao] [datetime2](7) NULL,
	[Ativo] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Contas_NumeroConta]    Script Date: 01/12/2025 08:54:26 ******/
ALTER TABLE [dbo].[Contas] ADD  CONSTRAINT [UK_Contas_NumeroConta] UNIQUE NONCLUSTERED 
(
	[NumeroConta] ASC,
	[Agencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contas_DataAbertura]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Contas_DataAbertura] ON [dbo].[Contas]
(
	[DataAbertura] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Contas_NumeroConta_Agencia]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Contas_NumeroConta_Agencia] ON [dbo].[Contas]
(
	[NumeroConta] ASC,
	[Agencia] ASC
)
INCLUDE([Saldo],[TipoConta]) 
WHERE ([Ativa]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Contas_UsuarioId]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Contas_UsuarioId] ON [dbo].[Contas]
(
	[UsuarioId] ASC
)
INCLUDE([NumeroConta],[Agencia],[Saldo],[TipoConta]) 
WHERE ([Ativa]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Extratos_ContaId_DataOperacao]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Extratos_ContaId_DataOperacao] ON [dbo].[Extratos]
(
	[ContaId] ASC,
	[DataOperacao] DESC
)
INCLUDE([TipoOperacao],[Valor],[SaldoAtual],[Descricao]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Extratos_DataOperacao]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Extratos_DataOperacao] ON [dbo].[Extratos]
(
	[DataOperacao] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Extratos_TransferenciaId]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Extratos_TransferenciaId] ON [dbo].[Extratos]
(
	[TransferenciaId] ASC
)
WHERE ([TransferenciaId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_Feriados_Data]    Script Date: 01/12/2025 08:54:26 ******/
ALTER TABLE [dbo].[Feriados] ADD  CONSTRAINT [UK_Feriados_Data] UNIQUE NONCLUSTERED 
(
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feriados_Data]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Feriados_Data] ON [dbo].[Feriados]
(
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transferencias_ContaDestino]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Transferencias_ContaDestino] ON [dbo].[Transferencias]
(
	[ContaDestinoId] ASC,
	[DataTransferencia] DESC
)
INCLUDE([Valor],[Status],[ContaOrigemId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transferencias_ContaOrigem]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Transferencias_ContaOrigem] ON [dbo].[Transferencias]
(
	[ContaOrigemId] ASC,
	[DataTransferencia] DESC
)
INCLUDE([Valor],[Status],[ContaDestinoId]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transferencias_DataTransferencia]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Transferencias_DataTransferencia] ON [dbo].[Transferencias]
(
	[DataTransferencia] DESC
)
INCLUDE([Status],[Valor]) 
WHERE ([Status]='Aprovada')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transferencias_Status]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Transferencias_Status] ON [dbo].[Transferencias]
(
	[Status] ASC,
	[DataTransferencia] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Usuarios_CPF]    Script Date: 01/12/2025 08:54:26 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UK_Usuarios_CPF] UNIQUE NONCLUSTERED 
(
	[CPF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Usuarios_Email]    Script Date: 01/12/2025 08:54:26 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UK_Usuarios_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_CPF]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_CPF] ON [dbo].[Usuarios]
(
	[CPF] ASC
)
WHERE ([Ativo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Email]    Script Date: 01/12/2025 08:54:26 ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Email] ON [dbo].[Usuarios]
(
	[Email] ASC
)
WHERE ([Ativo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contas] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Contas] ADD  DEFAULT ((0.00)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Contas] ADD  DEFAULT (getdate()) FOR [DataAbertura]
GO
ALTER TABLE [dbo].[Contas] ADD  DEFAULT ((1)) FOR [Ativa]
GO
ALTER TABLE [dbo].[Contas] ADD  DEFAULT ((0.00)) FOR [LimiteChequeEspecial]
GO
ALTER TABLE [dbo].[Extratos] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Extratos] ADD  DEFAULT (getdate()) FOR [DataOperacao]
GO
ALTER TABLE [dbo].[Feriados] ADD  DEFAULT ((0)) FOR [Recorrente]
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT (getdate()) FOR [DataTransferencia]
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT ('Pendente') FOR [Status]
GO
ALTER TABLE [dbo].[Transferencias] ADD  DEFAULT ('TED') FOR [TipoTransferencia]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCriacao]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Contas]  WITH CHECK ADD  CONSTRAINT [FK_Contas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contas] CHECK CONSTRAINT [FK_Contas_Usuarios]
GO
ALTER TABLE [dbo].[Extratos]  WITH CHECK ADD  CONSTRAINT [FK_Extratos_Contas] FOREIGN KEY([ContaId])
REFERENCES [dbo].[Contas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Extratos] CHECK CONSTRAINT [FK_Extratos_Contas]
GO
ALTER TABLE [dbo].[Extratos]  WITH CHECK ADD  CONSTRAINT [FK_Extratos_Transferencias] FOREIGN KEY([TransferenciaId])
REFERENCES [dbo].[Transferencias] ([Id])
GO
ALTER TABLE [dbo].[Extratos] CHECK CONSTRAINT [FK_Extratos_Transferencias]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Transferencias_ContaDestino] FOREIGN KEY([ContaDestinoId])
REFERENCES [dbo].[Contas] ([Id])
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [FK_Transferencias_ContaDestino]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [FK_Transferencias_ContaOrigem] FOREIGN KEY([ContaOrigemId])
REFERENCES [dbo].[Contas] ([Id])
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [FK_Transferencias_ContaOrigem]
GO
ALTER TABLE [dbo].[Contas]  WITH CHECK ADD  CONSTRAINT [CK_Contas_LimiteChequeEspecial] CHECK  (([LimiteChequeEspecial]>=(0)))
GO
ALTER TABLE [dbo].[Contas] CHECK CONSTRAINT [CK_Contas_LimiteChequeEspecial]
GO
ALTER TABLE [dbo].[Contas]  WITH CHECK ADD  CONSTRAINT [CK_Contas_Saldo] CHECK  (([Saldo]>=( -[LimiteChequeEspecial])))
GO
ALTER TABLE [dbo].[Contas] CHECK CONSTRAINT [CK_Contas_Saldo]
GO
ALTER TABLE [dbo].[Contas]  WITH CHECK ADD  CONSTRAINT [CK_Contas_TipoConta] CHECK  (([TipoConta]='Investimento' OR [TipoConta]='Salario' OR [TipoConta]='Poupanca' OR [TipoConta]='Corrente'))
GO
ALTER TABLE [dbo].[Contas] CHECK CONSTRAINT [CK_Contas_TipoConta]
GO
ALTER TABLE [dbo].[Extratos]  WITH CHECK ADD  CONSTRAINT [CK_Extratos_TipoOperacao] CHECK  (([TipoOperacao]='Estorno' OR [TipoOperacao]='Tarifa' OR [TipoOperacao]='Rendimento' OR [TipoOperacao]='Pagamento' OR [TipoOperacao]='TransferenciaRecebida' OR [TipoOperacao]='TransferenciaEnviada' OR [TipoOperacao]='Saque' OR [TipoOperacao]='Deposito'))
GO
ALTER TABLE [dbo].[Extratos] CHECK CONSTRAINT [CK_Extratos_TipoOperacao]
GO
ALTER TABLE [dbo].[Extratos]  WITH CHECK ADD  CONSTRAINT [CK_Extratos_Valor] CHECK  (([Valor]<>(0)))
GO
ALTER TABLE [dbo].[Extratos] CHECK CONSTRAINT [CK_Extratos_Valor]
GO
ALTER TABLE [dbo].[Feriados]  WITH CHECK ADD  CONSTRAINT [CK_Feriados_TipoFeriado] CHECK  (([TipoFeriado]='Bancario' OR [TipoFeriado]='Municipal' OR [TipoFeriado]='Estadual' OR [TipoFeriado]='Nacional'))
GO
ALTER TABLE [dbo].[Feriados] CHECK CONSTRAINT [CK_Feriados_TipoFeriado]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [CK_Transferencias_ContasDiferentes] CHECK  (([ContaOrigemId]<>[ContaDestinoId]))
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [CK_Transferencias_ContasDiferentes]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [CK_Transferencias_Status] CHECK  (([Status]='Cancelada' OR [Status]='Rejeitada' OR [Status]='Aprovada' OR [Status]='Pendente'))
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [CK_Transferencias_Status]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [CK_Transferencias_TipoTransferencia] CHECK  (([TipoTransferencia]='Interna' OR [TipoTransferencia]='PIX' OR [TipoTransferencia]='DOC' OR [TipoTransferencia]='TED'))
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [CK_Transferencias_TipoTransferencia]
GO
ALTER TABLE [dbo].[Transferencias]  WITH CHECK ADD  CONSTRAINT [CK_Transferencias_Valor] CHECK  (([Valor]>(0)))
GO
ALTER TABLE [dbo].[Transferencias] CHECK CONSTRAINT [CK_Transferencias_Valor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Email] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Email]
GO
USE [master]
GO
